/* 

***********NAV BAR***********

champ de recherche de ville
-le placeholder de la barre de recherche n'est pas assez large, la search-bar doit prendre 100% , test ko

***********POPULAR ok***********

********HEBERGEMENTS ok***********

***********ACTIVITES ok***********

***********FOOTER  ok***********

*/

/* Mobile styles in mobile.css (max-width: 767.98px) */


@media (min-width: 320px) and (max-width: 767.98px) {

    /*Général et fontsize*/

    * {
        margin: 0;
    }

    .main-container {
        padding: 0;
    }

    html {
        font-size: clamp(4px, 1vw, 10px);
    }

    h1 {
        margin: 2.5rem 2.5rem 2.5rem 0;
        font-size: 5rem;
    }

    h2,
    .section-title {
        font-size: 5rem;
        padding: 5rem 0;
    }

    h3 {
        font-size: initial;
    }

    p,
    a {
        font-size: initial;
        font-weight: 500;
    }

    .footer h3 {
        font-size: 4rem;
    }

    i {
        color: #0065FC;
        font-size: 4rem;
    }

    /*Header*/

    /*nav bar */

    .headline {
        width: 100%;
        margin: 7rem 3rem;
    }

    .headline p {
        font-size: 4rem;
    }

    .nav-bar-container {
        width: 100%;
        display: flex;
    }

    .nav-bar {
        align-items: center;
        width: 100%;
    }

    .nav-bar li {
        text-align: center;
        width: 50%;
        padding: 0;
    }

    .nav-bar li a {
        display: block;
        width: 100%;
    }

    .nav-bar a::after {
        content: "";
        position: absolute;
        height: 2px;
        background-color: #0065FC;
        width: 0;
        top: 7rem;
        left: 0;
        transition: width var(--transi200) ease;
    }

    .nav-bar a::before {
        content: "";
        position: absolute;
        height: 2px;
        background-color: #f2f2f2;
        width: 0;
        top: 7rem;
        left: 0;
        width: 100%;
    }

    .nav-header {
        flex-direction: column;
        height: fit-content;
    }

    .box-logo {
        margin: 6rem;
    }

    /*FILTER*/

    .main-filter {
        max-width: initial;
        margin: 3rem;
    }

    .info-bar {
        margin: 3rem;
    }

    .filter-bar {
        flex-direction: column;
    }

    .filter-container {
        flex-wrap: wrap;
        gap: 2.5rem;
    }

    .filter {
        flex-basis: 48%;
        height: 10rem;
        padding: 0 3rem;
        border-radius: 7rem;
    }

    .h2-filter {
        padding: 3rem 0;
        align-self: flex-start;
    }

    .filter p {
        font-size: 3rem;
    }

    .filter i {
        margin-right: 6rem;
    }

    /*search-bar*/

    .search-bar {
        margin: 7rem 0;
    }

    .search-icon {
        background: #0065fc;
        border: 1px solid #0065fc;
        color: #fff;
        cursor: pointer;
        width: 5rem;
        display: inline-block;
        border-radius: 3rem;
    }


    .search {
        display: none;
    }


    .search-city input {
        width: 100%;
        height: 12rem;
        font-size: 4rem;
        padding: 0 0 0 3rem;
        box-sizing: content-box;
    }

    .search-bar {
        margin: 0 3rem;
    }

    .icon-box {
        border-radius: 3rem 0 0 3rem;
    }

    .icon-box,
    .search-icon {
        min-width: 12rem;
        height: 12rem;
        font-weight: 200;
    }

    /*info-bar*/

    .icon-info-bar {
        width: 7rem;
        height: 7rem;
    }

    .icon-info-bar i {
        font-size: 3rem;
    }

    /*hebergements*/

    .hebergements-and-popular {
        flex-direction: column;
        padding-top: 5rem;
    }

    #hebergements {
        background-color: #ffffff;
    }

    .hebergements {
        width: 100%;
        order: 2;
        padding: 0 2.5rem;
    }

    .hebergements-title {
        padding: 0;
    }

    .hebergements-cards a {
        width: 100%;
    }


    .hebergements-cards img {
        width: 100%;
        height: 32rem;
        border-top-left-radius: 4rem;
        border-top-right-radius: 4rem;
    }

    .card {
        border-radius: 4rem;
    }

    .button-hebergements {
        margin: 5rem;
    }

    /*popular*/

    .popular {
        width: 100%;
        border-radius: 0;
    }

    .popular-title {
        margin-top: 0;
    }

    .popular-card {
        width: 100%;
        border-radius: 4rem;
    }

    .popular-card .card {
        display: flex;
        height: 100%;
    }

    .popular-container {
        padding-bottom: 13rem;
    }

    .popular-container img {
        height: 32rem;
        border-top-left-radius: 4rem;
        border-bottom-left-radius: 4rem;
    }

    .card-content {
        height: 100%;
    }

    .card-txt h3,
    p {
        font-size: initial;
    }


    /*activités*/

    .activities {
        padding: 0 2.5rem 8rem 2.5rem;
    }

    .activities-cards {
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
    }

    .activities-cards .card {
        width: 100%;
        height: auto;
        border-radius: 4rem;
    }

    .activities-cards img {
        width: 100%;
        height: 32rem;
        border-top-left-radius: 4rem;
        border-top-right-radius: 4rem;
        border: none;
    }

    .activities-cards .card-content {
        padding:2.5rem 4rem;
        box-sizing: border-box;
    }


    /*footer*/

    .footer {
        padding: 0;
        margin: 0;
    }

    .footer-nav {
        display: flex;
        flex-direction: column;
    }

    .footer-container {
        margin-top: 5rem;
        width: 100%;
        padding-left: 5rem;
    }

    .footer ul {
        line-height: 1.5;
    }
}
