/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/*Nav bar header*/


.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    height: 79px;
}

.nav-bar {
    display: flex;
    width: fit-content 344px;
    height: fit-content 35px;
    left: 1096px;
    padding: 0px 50px;
    gap: 68px;
}

.logo-booki {
    width: 61.09px;
    height: 19px;
}

.box-booki {
    display: flex;
    width: 161.09px;
    height: 79px;
    padding: 30px 50px;
    gap: 10px;
    align-items: center;
    justify-content: center; 
}

.info-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

.headline {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
    gap: 8px;
}

.search-bar {
    display: flex;
    width: 100%;
    max-width: 1340px;
    height: 49px;
    margin: 0 auto;
    gap: 24px;
}

.filter-bar {
    display: flex;
    width: 100%;
    width: 758px;
    height: 50px;
    gap: 15px;
}

.info-bar {
    font-size: 14px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/


/* tu dois réussir a aligner en 3x2 les images en ayant 33% de l'espace pour chaque article
(<article class="card"> qui ne prend pas 33% de la largeur de <section id="hebergements" class="hebergements">*/

.hebergements {
    width: 65%;
}

.hebergements-title {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/

.activites-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.activites-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activites-cards .card {
    display: flex;
    margin-top: 33px;
}

.activites-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.activites-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.activites-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.activites-cards .card-subtitle {
    margin: 0;
}

.activites-cards .card-rating {
    margin-bottom: 5px;
}

/* A faire */ 
/*aligner en horizontal et redimentionné pour faire 25% de la largeur de <div id="activites" class="activites">*/


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*footer*/

/******************    A  FAIRE    ******************/
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

/*Main title, Hebergement title, activités title*/
.hebergements-title,
.activites-title,
.h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}


/*besoin de resize les photos pour l'opti sur mobile afin qu'ils pèsent moins lourd ?

dans le head, pour les méta, j'ai besoin d'ajouter un fav icone ?

A faire :

mise en forme de la section "hebergement" pour les images, utiliser flexbox pour avoir du 3x3 en desktop et responsive pour tablette et mobile

mise en forme de la section "activités" pour les images, utiliser flexbox row en desktop et responsive pour tablette et mobile qui passera en flex column

mise en forme footer en flex row desktop

A faire : 

-Font
-esthétique des box avec images et texte 
-vérif couleurs
-faire les hover et overlay 
-faire le responsive média queries pour le resize de l'interphase*/